<form role="form">
    <div class="form-group">

    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h3>Equipment</h3>


        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h3>Your Weapons</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                           Tier
                        </th>
                        <th>
                            Damage
                        </th>

                        <th>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each item in model.user.character.equipableWeapons}}
                    <tr>
                        <td>
                            <span {{bind-attr class=item.baseItem.icon}}></span>
                            {{ item.baseItem.name}}
                        </td>


                        <td>
                            {{ item.baseItem.tier}}
                        </td>
                        <td>
                            ({{ item.baseItem.damageScale }} x {{ item.actualDamageAttribute }}) + {{ item.baseItem.damageDieCount }}d{{ item.baseItem.damageDieSize}}
                        </td>
                        <td>
                            {{view Ember.Select
                            content=controllers.application.skillsList
                            optionValuePath="content.id"
                            optionLabelPath="content.name"
                            value=item.damageAttribute
                            prompt="Override Damage Attribute"
                            class="form-control"
                            }}
                        </td>
                        <td>
                            <button class="btn btn-danger" {{ action remove_item item target="controller" }}>
                            <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                    {{ else}}
                    <tr>
                        <td colspan="4">
                            No items found
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <h3>Weapons List</h3>
            <span class="label label-default">Weapons</span>
            <ul class="nav  nav-tabs">
            {{#each itemCategory in model.weaponCategories}}
                {{#link-to 'character.weapons' (query-params itemCategory=itemCategory.id) tagName='li'}}<a href="javascript:;" href="#" {{bind-attr href="view.href"}}>{{itemCategory.name}}</a>{{/link-to}}
            {{/each}}
            </ul>

            <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Avail.
                    </th>
                    <th>
                        Tier
                    </th>
                    <th>
                        Damage
                    </th>
                    <th>
                        Abilities
                    </th>
                    <th width="100">

                    </th>
                </tr>
                </thead>
                <tbody>
                {{#each item in model.items}}
                <tr>
                    <td>
                        <span {{bind-attr class=item.icon}}></span>
                        {{ item.name}}
                    </td>
                    <td>
                        {{ item.formattedCost}}
                    </td>
                    <td>
                        {{ item.formattedAvailability}}
                    </td>
                    <td>
                        {{ item.tier}}
                    </td>
                    <td>
                        ({{ item.damageScale }} x {{ item.damageAttribute }}) + {{ item.damageDieCount }}d{{ item.damageDieSize}}
                    </td>
                    <td>
                        {{#each ability in item.abilities }}
                            {{ability.name}}<br>
                        {{/each}}
                    </td>
                    <td>
                        <button class="btn btn-success" {{ action add_item item target="controller" }} value="+">
                        <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        {{#if item.user}}
                        {{#isCurrentUser item.user }}
                        {{#link-to 'foundry.editItem' item.id tagName='a' class='btn btn-success' }}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}
                        {{/isCurrentUser}}
                        {{/if}}
                    </td>
                </tr>
                {{ else}}
                <tr>
                    <td colspan="4">
                        No items found
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</form>